<ion-view class="ion-view-light" view-title="FitLife">
  <ion-content>
    <ion-list>
        <button class="button button-full button-assertive icon ion-ios-bookmarks" onclick="location.href='#/app/classlist';">
          Classes
        </button>
        <button class="button button-full button-calm icon ion-ios-people" onclick="location.href='#/app/studentlist';">
          Students
        </button>
        <button class="button button-full button-energized icon ion-ios-calendar" onclick="location.href='#/app/mainmenu';">
          Timetable
        </button>      
    </ion-list>
  </ion-content>
</ion-view>
<div class="bar bar-footer bar-light foo">
  <img src="img/footer.png" alt="FitLife">
</div>